<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>SDNotes</ion-title>
    <ion-img src="assets/icon/logo.png" alt="logo" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<body>
 
  <ion-content>
    <div class="container">
        <ion-button (click)="guardarAsig()" class="boton-superpuesto">
          Actualizar
          <ion-icon name="save" style="size: 80px;"></ion-icon> </ion-button>

    <ion-card style="margin-top: 10%;">
      <ion-card-header >
        <ion-card-title color="primary"><ion-icon name="information-circle"></ion-icon> Información general
        </ion-card-title>
        <ion-card-subtitle><ion-item fill="outline">
          <ion-label position="floating" color="primary"><ion-icon name="bookmarks"></ion-icon> Semestre *</ion-label>
          <ion-select placeholder="Selecciona un semestre" value={{Semester}}  [(ngModel)]="Semester">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
          </ion-select>
        </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="book"></ion-icon> Nombre de la asignatura *</ion-label>
            <ion-input value={{Name}}  [(ngModel)]="Name"placeholder="Asignatura" required></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="person-circle"></ion-icon> Nombre del profesor * </ion-label>
            <ion-input value={{Teacher}}  [(ngModel)]="Teacher"placeholder="Profesor"></ion-input>
          </ion-item></ion-card-subtitle>
          <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary">Ingrese fecha de clase*</ion-label>
            <ion-input value={{Datat}} [(ngModel)]="Datat" type="datetime-local" color="primary" [min]="today" placeholder="Fecha"></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="home"></ion-icon> Salón de clase</ion-label>
            <ion-input value={{Room}}  [(ngModel)]="Room"placeholder="Salón" type="number"></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="location"></ion-icon> Sede</ion-label>
            <ion-select placeholder="Selecciona una sede" value={{Central}} [(ngModel)]="Central">
              <ion-select-option value="Villa">Villa</ion-select-option>
              <ion-select-option value="Príncipe">Príncipe</ion-select-option>
              <ion-select-option value="Victoria">Victoria</ion-select-option>
            </ion-select>
          </ion-item></ion-card-subtitle>
          <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="time"></ion-icon> Créditos</ion-label>
            <ion-input value={{Credits}}  [(ngModel)]="Credits"placeholder="Créditos/Intensidad horaria" type="number"></ion-input>
          </ion-item></ion-card-subtitle>

      </ion-card-header>
    </ion-card>

    <ion-card >
      <ion-card-header style="margin-bottom: 2%;">
        <ion-card-title color="primary"><ion-icon name="information-circle"></ion-icon> Notas</ion-card-title>
        <ion-grid [fixed]="true">
          <ion-row *ngFor="let note of Note; let i = index;">
            <ion-col size="4">
             Notas
              <ion-input placeholder="Ingrese Nota" class="custom" color="primary" type="number" 
              value={{Note[i]}} [(ngModel)]="Note[i]"  >
                <ion-icon name="create-outline"></ion-icon>
              </ion-input>
            </ion-col>
            <ion-col size="4">
              Porcentaje %
              <ion-input placeholder="Ingrese porcentaje" class="custom" type="number" color="primary" 
              value ={{Porcent[i]}} [(ngModel)]="Porcent[i]" >
                <ion-icon name="calculator-outline"></ion-icon>
              </ion-input>
            </ion-col>
            <ion-col size="4">
              Eliminar <br>
              <ion-button color="danger" fill="clear" (click)="eliminarNota(i)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid [fixed]="true">
      
          <ion-row *ngFor="let nota of notas; let i = index;">
            <ion-col size="4">
             Notas
              <ion-input placeholder="Ingrese Nota"color="primary" class="custom" [(ngModel)]="nota.nota"  type="number">
                <ion-icon name="create-outline"></ion-icon>
              </ion-input>
            </ion-col>
            <ion-col size="4">
             Porcentaje % 
              <ion-input placeholder="Ingrese porcentaje" color="primary"class="custom"  [(ngModel)]="nota.porcentaje"  type="number">
                <ion-icon name="calculator-outline"></ion-icon>
              </ion-input>
            </ion-col>
            
      <ion-col size="4">
        Eliminar <br>
        <ion-button color="danger" fill="clear" (click)="eliminarNota(i)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
      </ion-col>
          </ion-row>
        </ion-grid>
      <div style="text-align: center;">
        <ion-button (click)="agregarNota()">Agregar Nota</ion-button>
      </div>
      </ion-card-header>
    </ion-card>

  </div>
  </ion-content>

 
</body>

 
