
ion-img {
    width: 50px;
    height: 50px;
  }
  
  /* iOS places the subtitle above the title */
ion-card {
    margin: 2%;
}
.boton-superpuesto {
  position: absolute;
  top: 1.2%;
  margin-top: 8%;
  right: 2%;
  z-index: 1;
}

    // para dispositivos móviles
@media only screen and (max-width: 900px) {
  .container{
    margin-top: 24%;
  }
  .boton-superpuesto{
    margin-top: 16%;
  }
  .no {
    display: none;
  }
}

// para tabletas
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .container {
    margin-top: 2%;
  }
  .boton-superpuesto{
    margin-top: 7%;
  }
}

@media (prefers-color-scheme: dark) {
  ion-toolbar, ion-title{
    background:#E6413A;
    color:white
  }
  .dele{
    color:#fff;
    --background: transparent;
  }
  
}

ion-button,ion-toolbar{
  --background:#E6413A;
  color:white
}
