<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>SDNotes</ion-title>
    <ion-img src="assets/icon/logo.png" alt="logo" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<body>
  <ion-content class="my-content">
    <ion-card style="margin-top: 100px;">
      <ion-card-header>
        <ion-card-title color="primary"><ion-icon name="information-circle"></ion-icon> Información general
        </ion-card-title>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="book"></ion-icon> Nombre de la asignatura *</ion-label>
            <ion-input value={{Name}}  [(ngModel)]="Name"placeholder="Asignatura" required></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="person-circle"></ion-icon> Nombre del profesor * </ion-label>
            <ion-input value={{Teacher}}  [(ngModel)]="Teacher"placeholder="Profesor"></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="home"></ion-icon> Salón de clase</ion-label>
            <ion-input value={{Room}}  [(ngModel)]="Room"placeholder="Salón" type="number"></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="location"></ion-icon> Sede</ion-label>
            <ion-select placeholder="Selecciona una sede" value={{Central}} [(ngModel)]="Central">
              <ion-select-option value="Villa">Villa</ion-select-option>
              <ion-select-option value="Príncipe">Príncipe</ion-select-option>
              <ion-select-option value="Victoria">Victoria</ion-select-option>
            </ion-select>
          </ion-item></ion-card-subtitle>
          <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="home"></ion-icon> Salón de clase</ion-label>
            <ion-input value={{Credits}}  [(ngModel)]="Credits"placeholder="Salón" type="number"></ion-input>
          </ion-item></ion-card-subtitle>

      </ion-card-header>
    </ion-card>

    <ion-card style="margin-top: -30px;">
      <ion-card-header>
        <ion-card-title color="primary"><ion-icon name="information-circle"></ion-icon> Notas</ion-card-title>
        <ion-grid [fixed]="true">
          <ion-row *ngFor="let nota of notas; let i = index;">
            <ion-col size="6">
             Notas
              <ion-input placeholder="Ingrese Nota" class="custom" color="primary" type="number" 
              [(ngModel)]="Notes.Note">
                <ion-icon name="create-outline"></ion-icon>
              </ion-input>
            </ion-col>
            <ion-col size="6">
              Porcentaje %
              <ion-input placeholder="Ingrese porcentaje" class="custom" type="number" color="primary" min="0" max="100" 
               [(ngModel)]="Porcent">
                <ion-icon name="calculator-outline"></ion-icon>
              </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div style="text-align: center;">
          <ion-button (click)="agregarNota()">Agregar Nota</ion-button>
        </div>
      </ion-card-header>
    </ion-card>

  </ion-content>
</body>

<ion-toolbar color="primary" class="my-content">
  
  <div class="wrapper" slot="end" (click)="guardarAsig()">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <ion-icon name="save" style="color: rgb(2, 42, 2);"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
  <ion-title style="text-align: center;"> Nueva asignatura </ion-title>

  <div class="wrapper" slot="start">
    <div class="ion-activatable ripple-parent rounded-rectangles">
      <ion-icon name="trash" style="color: brown;"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</ion-toolbar>


