<ion-content >
  <div class="my-content" >
  <p style="margin: 1%; color: #fff;">Bienvenido, {{ userName }} 
    ! sajkdhsajdhjsakdhjsadnas
    sajdsaodhsadsa dshdisahndsad
  asdsa
dhsadhasiodsadksajnjsndkasdkldklsdnsakldnsjakdnxjksaksajdnsajkdsadasjkdbsajkdbsajkdbsad
sadksandskadnsa
 dsandsaind
</p>
  </div>
    <ion-card class="card-no-border">
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let Subjects of Subjects">
            <ion-thumbnail slot="start">
              <img alt="Univalle" src="assets/icon/logo.png" />
            </ion-thumbnail>

            <ion-card-content>
              <ion-label>Asignatura: 
                <ion-span style="color: #E6413A;">{{Subjects.Name}}</ion-span>
              </ion-label>
              <ion-label>Sede: 
                <ion-span style="color: #E6413A;">{{Subjects.Central}}</ion-span>
              </ion-label> 
              <ion-label>Profesor: 
                <ion-span style="color: #E6413A;">{{Subjects.Teacher}}</ion-span>
              </ion-label>
              <ion-label>Salón: 
                <ion-span style="color: #E6413A;">{{Subjects.Room}}</ion-span>
              </ion-label>
              <ion-label>Nota: 
                <ion-span style="color: #E6413A;">{{Subjects.Notes.Note ? Subjects.Notes.Note : 0}}</ion-span>
              </ion-label>
              
            <!-- <ion-button slot="end">Hola</ion-button>
            <ion-button slot="end">Hola</ion-button> -->
            </ion-card-content>
            <ion-button slot="end" [routerLink]="['/editar', Subjects.id, Subjects.Name, Subjects.Central, Subjects.Teacher, Subjects.Room, Subjects.Credits, Subjects.Notes.Note, Subjects.Notes.Porcent]"> 
              <ion-icon name="create-outline"></ion-icon> Editar
            </ion-button>       
            <ion-button slot="end" (click)="deleteSubject(Subjects.id, path)"> <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>           
        </ion-list>
      </ion-card-content>
    </ion-card>
      <ion-fab horizontal="end">
        <ion-fab-button routerLink="/agregar">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-content>
