
/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-fab{
  margin-top: -4%;
  margin-right: 4%;
}
ion-card {
  border: 0;
 box-shadow: none;
  padding: 0;
 }

 div{
  margin: 4%;
 }

 .semestre{
  width: 60%;
  margin: auto;
  margin-top: -1.5%;
 }

  // para dispositivos móviles
@media only screen and (min-width: 360px) and (max-width: 896px) {
  .my-content {
    margin-top: 18%; // ajuste según sea necesario
    background: #E6413A; 
    border-radius: 5px; 
  }
  ion-fab{
    margin-top: -13.5%;
    margin-right: 1%;
  }

  .btn1{
    margin-top: -26px;
    margin-right: -128px;
    margin-bottom: 5px;
   }

 .btn2{
  margin-top: 50px;
  margin-right: -14px;
 }
}

// para tabletas
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .my-content {
    margin-top: 7%; // ajuste según sea necesario
    background: #E6413A; 
    border-radius: 5px;
  }
  
}

// para pantallas más grandes (PC)
@media only screen and (min-width: 992px) {
  .my-content {
    margin-top: 5%; // ajuste según sea necesario
    background: #E6413A; 
    border-radius: 5px;
  }
}

ion-thumbnail  {
  width: 5%;
  height: 5%;
}