
/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-card {
  border: 0;
 box-shadow: none;
  padding: 0;
 }

 div{
  margin: 4%;
 }

 .semestre{
  width: 60%;
  margin: auto;
  margin-top: -1.5%;
 }

  // para dispositivos móviles
@media only screen and (max-width: 767px) {
  .my-content {
    margin-top: 14%; // ajuste según sea necesario
    background: #E6413A; 
    border-radius: 5px; 
  }
}

// para tabletas
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .my-content {
    margin-top: 7%; // ajuste según sea necesario
    background: #E6413A; 
    border-radius: 5px;
  }
}

// para pantallas más grandes (PC)
@media only screen and (min-width: 992px) {
  .my-content {
    margin-top: 5%; // ajuste según sea necesario
    background: #E6413A; 
    border-radius: 5px;
  }
}

ion-thumbnail  {
  width: 5%;
  height: 5%;
}