
/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-card {
  border: 0;
 box-shadow: none;
  padding: 0;
 }

 .welcome{
  background: #E6413A; 
  height: 20%; 
  margin: 4%; 
  border-radius: 5px; 
  margin-top: 10%;
  }