<ion-content>
  <div class="my-content" >
  <p style="margin: 1%; color: #fff;">Bienvenidosajkdhsajdhjsakdhjsadnas
    sajdsaodhsadsa dshdisahndsad
  asdsa
dhsadhasiodsadksajnjsndkasdkldklsdnsakldnsjakdnxjksaksajdnsajkdsadasjkdbsajkdbsajkdbsad
sadksandskadnsa
 dsandsaind
</p>
  </div>
    <ion-card class="card-no-border">
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let Subjects of Subjects">
            <ion-thumbnail slot="start">
              <img alt="Univalle" src="assets/icon/logo.png" />
            </ion-thumbnail>

            <ion-card-content>
              <ion-label>Asignatura: 
                <ion-span style="color: #E6413A;">{{Subjects.Name}}</ion-span>
              </ion-label>
              <ion-label>Sede: 
                <ion-span style="color: #E6413A;">{{Subjects.Central}}</ion-span>
              </ion-label> 
              <ion-label>Profesor: 
                <ion-span style="color: #E6413A;">{{Subjects.Teacher}}</ion-span>
              </ion-label>
              <ion-label>Salon: 
                <ion-span style="color: #E6413A;">{{Subjects.Room}}</ion-span>
              </ion-label>
            </ion-card-content>
            <ion-icon name="bookmark" slot="end" style="color: #E6413A;"></ion-icon>
          </ion-item>           
        </ion-list>
      </ion-card-content>
    </ion-card>
      <ion-fab horizontal="end">
        <ion-fab-button routerLink="/agregar">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-content>
