body {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

ion-card {
  --color: #E6413A;
  width: 50%;
  margin: auto;
  margin-top: 1%;
}


/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-img {
  width: 20%;
  height: 10%;
  margin: auto;
  margin-top: 1%;
}

ion-item {
  --border-width: 0;
  --border-style: none;
}

.text, .text1{
  text-align: center;
  margin: 30%;
}


.inp{
  color: #E6413A;
  width: 85%;
  height: 8.7%;
  margin: auto;
  border-color: #E6413A;
  border-width: 8px;
  margin-top: 2%;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 5px;
  border-bottom: 1px solid #E6413A;
  font-size: 120%;
  margin-bottom:1%;
}

.ic{
  margin-top: 2%;
  color: #E6413A;
}

.btnOlv{
  --background: none;
  color:#E6413A;
  text-decoration: underline;
  font-size: 90%;
  margin-bottom: 2%;
}

.iniciar{
  --background:#E6413A ;
  color:white;
  font-size: 100%;
  margin: auto;
  height: 100%;
}

.google {
  height: 100%;
  margin: auto;
  padding-right: 5px;
}

.goo{
  color:gray;
  font-size: 20px;
  margin: auto;
  background:transparent; 
}

.registro { 
  margin: auto;
  margin-top: 2%;
}

.btnOlvs{
  --background: none;
  color:#E6413A;
  text-decoration: underline;
  margin-top: -4%;
  text-align: center; 
}
