
ion-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-img {
  width: 10%;
  height: 10%;
  margin: auto;
  margin-top: 0.5%;
}

ion-item {
  --border-width: 0;
  --border-style: none;
}

.text, .text1{
  text-align: center;
}


.inp{
  color: #E6413A;
  width: 85%;
  height: 45%;
  margin: auto;
  border-color: #E6413A;
  border-width: 8px;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 5px;
  border-bottom: 1px solid #E6413A;
  font-size: 100%;
  margin-bottom:1%;
}

.ic{
  margin-top: 1.5%;
  color: #E6413A;
}

.btnOlv{
  --background: none;
  color:#E6413A;
  text-decoration: underline;
  font-size: 80%;
  margin-left: 77%;
}

.iniciar{
  --background:#E6413A ;
  color:white;
  font-size: 100%;
  margin: auto;
  height: 60%;
}

.google {
  height: 100%;
  margin: auto;
  padding-right: 5px;
}

.goo{
  color:gray;
  font-size: 15px;
  margin: auto;
  background:transparent; 
}

.registro { 
  margin: auto;
}

.btnOlvs{
  --background: none;
  color:#E6413A;
  text-decoration: underline;
  margin-top: -4%;
  text-align: center; 
}

  // para dispositivos móviles
@media only screen and (max-width: 767px) {
  .ic{
    margin-top: 8%;
    color: #E6413A;
  }
  .btnOlv{
    --background: none;
    color:#E6413A;
    text-decoration: underline;
    font-size: 80%;
    margin-left: 56%;
  }
  
}

// para tabletas
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ic{
    margin-top: 4%;
    color: #E6413A;
  }
  .btnOlv{
    --background: none;
    color:#E6413A;
    text-decoration: underline;
    font-size: 80%;
    margin-left: 77%;
  }
}

// para pantallas más grandes (PC)
@media only screen and (min-width: 992px) {
  .my-content {
    border-radius: 5px;
  }
}
