<ion-content [class]="isDarkMode ? 'dark' : ''">
  <ion-menu contentId="main-content">
    <ion-header [class]="isDarkMode ? 'dark' : ''">
      <ion-toolbar color="primary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-item lines="none">
          <ion-avatar *ngIf="user && user.providerData[0].providerId === 'google.com'">
            <img [src]="userPhotoURL" width="100" height="100" />
          </ion-avatar>
          <ion-avatar *ngIf="!user || user.providerData[0].providerId !== 'google.com'">
            <img [src]="'assets/icon/logo.png'" width="100" height="100" />
          </ion-avatar>
          <ion-label class="ion-text-center">Usuario:</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label class="ion-text-center" color="primary">{{ user?.displayName || userName}}</ion-label>
        </ion-item>
        <ion-button routerLink="/agregar" expand="block">
          <ion-icon name="person-circle"></ion-icon>
        <span>Configuración de la cuenta</span>
        </ion-button>
        <ion-button routerLink="/login" expand="block">
          <ion-icon name="share-social"></ion-icon>
          <span class="textIz">Compartir</span>
        </ion-button>
        <ion-button routerLink="/registro" expand="block">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <span class="textIz">Acerca de</span>
        </ion-button>
        <ion-button (click)="logout()" expand="block" start="LTR">
          <ion-icon name="exit" slot="start"></ion-icon>
          <span class="textI">Salir</span>
        </ion-button>


      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-header id="main-content" >
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title color="primary">SDNotes</ion-title>
      <ion-icon slot="end" name="moon-sharp" color="primary"></ion-icon>
      <ion-toggle slot="end" [(ngModel)]="isDarkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
    </ion-toolbar>
  </ion-header>



  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">

      <ion-tab-button tab="asignatura">
        <ion-icon name="school"></ion-icon>
        <ion-label>Asignatura</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="horario">
        <ion-icon name="calendar-number"></ion-icon>
        <ion-label>Horario</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="inicio">
        <ion-icon name="calculator"></ion-icon>
        <ion-label>Calcular Nota</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
</ion-content>