ion-menu::part(backdrop) {
  background-color: rgba(230,	65,	58);

}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;

  box-shadow: 4px 0px 16px rgba(230,	65,	58);
}

  /* Colores para el modo oscuro */
  ion-content.dark {
    --ion-color-primary: #222;
    --ion-color-secondary: #333;
    --ion-color-tertiary: #444;
    --ion-color-success: #28a745;
    --ion-color-warning: #ffc107;
    --ion-color-danger: #dc3545;
  }
  
  
  ion-content.dark {
    --ion-color-base: #222;
    --ion-background-color: #333;
    --ion-background-label: #fff;
  }
  
  .dark ion-label, .dark ion-content, .dark h2, .dark ion-title, .dark ion-icon,.dark ion-input {
    color:#E6413A;
  }
  
  .textI{
    margin-right: 70%;
  }
  .textIz{
    margin-right: 55%;
  }
