<ion-app>



  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="inicio">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="asignatura">
        <ion-icon name="school"></ion-icon>
        <ion-label>Asignatura</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="horario">
        <ion-icon name="calendar-number"></ion-icon>
        <ion-label>Horario</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
