<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>SDNotes</ion-title>
    <ion-img src="assets/icon/logo.png" alt="logo" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="mt-2">
  <h1 style="text-align:center; color: #E6413A; font-family:Times"><b>Student Daily Note</b></h1>
  <h3 style="text-align:center;">Creadores:</h3>
  <h2 style="text-align:center; color: #E6413A; font-family: cursive;">Marín Castaño Luis Alfonso</h2>
  <h2 style="text-align:center; color: #E6413A; font-family: cursive;margin-top: -8px;"> Ospina Ortega Juan David</h2>
  <h3 style="text-align:center">Director</h3>
  <h2 style="text-align:center; color: #E6413A; font-family: cursive;">Triana Madrid Joshua David</h2>
  <p class="ion-padding">La aplicación está diseñada para los estudiantes de la Universidad del Valle, en ella se puede consultar, crear, modificar y eliminar materias que tengas matriculadas por semestre. Además, cuenta con una herramienta de cálculo rápido de notas que les permite a los estudiantes tener un mejor seguimiento y control de su rendimiento académico.<br>
    <br>
    <span style="color: #E6413A"><b>SDN</b></span>, También cuenta con un calendario donde puede observar la clase que debe ver en la semana, su salón, profesor y hora.     
    En resumen, la aplicación es una herramienta valiosa para los estudiantes Univallunos, que les ayuda a llevar un mejor seguimiento y control de su rendimiento académico, y les proporciona información útil y práctica para el registro de sus materias y la planificación de su horario de clases.</p>

    <h3 style="text-align:center; color: #E6413A; font-family:Times; margin-top: -20px;"><b>Enlaces de interes:</b></h3>
   

    <ion-grid>
      <ion-row>
        <ion-col><ion-button expand="block" href="https://sira.univalle.edu.co/sra/">
          Sira
        </ion-button></ion-col>
        <ion-col> <ion-button expand="block" href="https://proxse25.univalle.edu.co/login">
          MatFin
        </ion-button></ion-col>
        <ion-col> <ion-button expand="block" href="https://campusvirtual.univalle.edu.co/moodle/">
          Campus
        </ion-button></ion-col>
        <ion-col>
          <ion-button expand="block" href="http://calificaciones.univalle.edu.co/programacion-academica">
            Programación académica
          </ion-button></ion-col>
      </ion-row>
    </ion-grid>

    
   
        
   
    
    
</ion-content>
