<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>SDNotes</ion-title>
    <ion-img src="assets/icon/logo.png" alt="logo" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<body>
  <ion-content>
    <ion-card style="margin-top: 100px;">
      <ion-card-header>
        <ion-card-title color="primary"><ion-icon name="information-circle"></ion-icon> Información general
        </ion-card-title>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="book"></ion-icon> Información de la asignatura</ion-label>
            <ion-input placeholder="Asignatura"></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="person-circle"></ion-icon> Nombre del profesor</ion-label>
            <ion-input placeholder="Profesor"></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="home"></ion-icon> Salón de clase</ion-label>
            <ion-input placeholder="Salón"></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" color="primary"><ion-icon name="location"></ion-icon> Sede</ion-label>
            <ion-input placeholder="Villa, Príncipe o Victoria"></ion-input>
          </ion-item></ion-card-subtitle>
      
      <ion-card-subtitle><ion-item fill="outline">
          <ion-label position="floating" color="primary"><ion-icon name="time"></ion-icon> Créditos</ion-label>
          <ion-input placeholder="Créditos/Intensidad horaria"></ion-input>
        </ion-item></ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card style="margin-top: -30px;">
      <ion-card-header>
        <ion-card-title color="primary"><ion-icon name="medical"></ion-icon> Notas</ion-card-title>
        <ion-grid [fixed]="true">
          <ion-row>
            <ion-col size="6">
  
              <h3>Nota</h3>
              <ion-item fill="outline">
                <ion-label position="floating" color="primary"><ion-icon name="create"></ion-icon> Nota</ion-label>
                <ion-input placeholder="Nota"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <h3>Porcentaje</h3>
              <ion-item fill="outline">
                <ion-label position="floating" color="primary"><ion-icon name="calculator"></ion-icon> %</ion-label>
                <ion-input placeholder="%"></ion-input>
              </ion-item>
            </ion-col>
        
          </ion-row>
        </ion-grid>  
        <div style="text-align: center;">
          <ion-button> + Agregar Nota</ion-button>
        </div>
      </ion-card-header>
    </ion-card>

  </ion-content>

</body>

<ion-toolbar color="primary">
  
  <div class="wrapper" slot="end" routerLink="[/asignatura]">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <ion-icon name="save" style="color: rgb(2, 42, 2);"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
  <ion-title style="text-align: center;"> Nueva asignatura </ion-title>

  <div class="wrapper" slot="start">
    <div class="ion-activatable ripple-parent rounded-rectangles">
      <ion-icon name="trash" style="color: brown;"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</ion-toolbar>


