<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="back"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>SDNotes</ion-title>
    <ion-img src="assets/icon/logo.png" alt="logo" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>


<body>
  <ion-content class="my-content">
    <ion-card style="margin-top: 80px;">
      <ion-card-header>
        <ion-card-title ><ion-icon name="information-circle"></ion-icon> Información general
        </ion-card-title>
        <ion-card-subtitle><ion-item fill="outline">
          <ion-label position="floating" ><ion-icon name="bookmarks"></ion-icon> Semestre *</ion-label>
          <ion-select placeholder="Selecciona un semestre" [(ngModel)]="newSubjects.Semester" >
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="6">6</ion-select-option>
            <ion-select-option value="7">7</ion-select-option>
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="9">9</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
          </ion-select>
        </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" ><ion-icon name="book"></ion-icon> Nombre de la asignatura *</ion-label>
            <ion-input [(ngModel)]="newSubjects.Name" placeholder="Asignatura" ></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" ><ion-icon name="person-circle"></ion-icon> Nombre del profesor * </ion-label>
            <ion-input [(ngModel)]="newSubjects.Teacher" placeholder="Profesor" ></ion-input>
          </ion-item></ion-card-subtitle>
          <ion-card-subtitle><ion-item fill="outline">
              <ion-label position="floating" >Ingrese fecha de clase*</ion-label>
              <ion-input [(ngModel)]="newSubjects.Datat" type="datetime-local"  [min]="today" placeholder="Fecha"></ion-input>
            </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline">
            <ion-label position="floating" ><ion-icon name="home"></ion-icon> Salón de clase</ion-label>
            <ion-input [(ngModel)]="newSubjects.Room" placeholder="Salón" type="number" ></ion-input>
          </ion-item></ion-card-subtitle>
        <ion-card-subtitle><ion-item fill="outline" >
            <ion-label position="floating" ><ion-icon name="location"></ion-icon> Sede</ion-label>
            <ion-select placeholder="Selecciona una sede" [(ngModel)]="newSubjects.Central" >
              <ion-select-option value="Villa">Villa</ion-select-option>
              <ion-select-option value="Príncipe">Príncipe</ion-select-option>
              <ion-select-option value="Victoria">Victoria</ion-select-option>
            </ion-select>
          </ion-item></ion-card-subtitle>
      
      <ion-card-subtitle><ion-item fill="outline">
          <ion-label position="floating" ><ion-icon name="time"></ion-icon> Créditos</ion-label>
          <ion-input [(ngModel)]="newSubjects.Credits" placeholder="Créditos/Intensidad horaria" type="number"></ion-input>
        </ion-item></ion-card-subtitle>

      </ion-card-header>
    </ion-card>

    <ion-card  class="cardss">
      <ion-card-header>
        <ion-card-title><ion-icon name="information-circle"></ion-icon> Notas</ion-card-title>
        <ion-grid [fixed]="true">
      
            <ion-row *ngFor="let nota of notas; let i = index;">
              <ion-col size="4">
               Notas
                <ion-input placeholder="Ingrese Nota" class="custom" [(ngModel)]="nota.nota"  type="number">
                  <ion-icon name="create-outline"></ion-icon>
                </ion-input>
              </ion-col>
              <ion-col size="4">
                Porcentaje <span class="no">%</span> 
                <ion-input placeholder="Ingrese porcentaje" class="custom"  [(ngModel)]="nota.porcentaje"  type="number">
                  <ion-icon name="calculator-outline"></ion-icon>
                </ion-input>
              </ion-col>
              
        <ion-col size="4">
          Eliminar <span class="no">Nota</span><br>
          <ion-button color="danger" fill="clear" (click)="eliminarNota(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
            </ion-row>
          </ion-grid>
        <div style="text-align: center;">
          <ion-button (click)="agregarNota()">Agregar Nota</ion-button>
        </div>
        
      </ion-card-header>
    </ion-card>

  </ion-content>

</body>
<ion-toolbar >
  
  <div class="wrapper" slot="end" (click)="guardarAsig()">
    <div class="ion-activatable ripple-parent rounded-rectangle">
      <ion-icon name="save" style="color: rgb(2, 42, 2);"></ion-icon>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
  <ion-title style="text-align: center;"> Guardar Asignatura</ion-title>
</ion-toolbar>


