<ion-content>
  <ion-grid class="my-content ion-text-center ion-justify-content-center ion-align-items-center">
    <div class="ion-padding">
      <ion-calendar [(ngModel)]="dateMulti"
          (change)="OnChange($event)"
          [options]="optionsMulti"
          [type]="type"
          [format]="'YYYY-MM-DD'"
          [readonly]="false">
      </ion-calendar>      
    </div>
    <ion-card-content>
      <ion-label>días de clase restantes: 
        <ion-span style="color: #E6413A;">{{tx}}</ion-span>
      </ion-label>       
    </ion-card-content>
    <ion-item>
      <ion-button (click)="AgregarFecha()" class="iniciar">Agregar fecha</ion-button>
    </ion-item>
  </ion-grid>
</ion-content>
  

