<ion-content>

<ion-grid>
  <ion-row>
    <ion-col class="day-label">Lunes</ion-col>
    <ion-col class="day-label">Martes</ion-col>
    <ion-col class="day-label">Miércoles</ion-col>
    <ion-col class="day-label">Jueves</ion-col>
    <ion-col class="day-label">Viernes</ion-col>
    <ion-col class="day-label">Sábado</ion-col>
  </ion-row>
  <ion-row *ngFor="let row of calendarRows">
    <ion-col *ngFor="let date of row" [ngClass]="{'today': isToday(date)}">
      <div class="date">{{date.getDate()}}</div>
      <div class="class">{{getClassForDate(date)}}</div>
    </ion-col>
  </ion-row>
</ion-grid>

    
  </ion-content>
  

