/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-fab{
  margin-top: -4%;
  margin-right: 4%;
}
ion-card {
  border: 0;
 box-shadow: none;
  padding: 0;
 }

 div{
  margin: 4%;
 }
 
 
// .calen {
  // color: green !important;
  // background: rgb(230, 65, 58,0.1);
  // margin-top: -40px;
  // border-radius: 20px;
// }

.calen {
    background: rgb(230, 65, 58,0.1);
    margin-top: -40px;
    border-radius: 20px;
}

.semestre{
  width: 60%;
  margin: auto;
  margin-top: -1.5%;
 }
// para dispositivos móviles
@media only screen and (max-width: 767px) {
  .my-content {
    margin-top: 12.3%; // ajuste según sea necesario
  }
}

// para tabletas
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .my-content {
    margin-top: 6%; // ajuste según sea necesario
  }
}

// para pantallas más grandes (PC)
@media only screen and (min-width: 992px) {
  .my-content {
    margin-top: 5.5%; // ajuste según sea necesario
  }
}


@media (max-width: 767px) { /* Pantallas pequeñas */
  .my-content ion-col {
    font-size: 12px;
    padding: 10px 5px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) { /* Pantallas medianas */
  .my-content ion-col {
    font-size: 16px;
    padding: 15px 10px;
  }
}
@media (min-width: 1024px) { /* Pantallas grandes */
  .my-content ion-col {
    font-size: 20px;
    padding: 20px 15px;
  }
}


@media (prefers-color-scheme: dark) {
  ion-list, ion-card, ion-card-content{
    background:transparent;
    border-radius: 10px;
  }
}