<ion-content >

    <div class="my-content">
      <h2 style="text-align: center;color: #E6413A;">Calculo Rápido</h2>
      <ion-grid [fixed]="true">
        <ion-row *ngFor="let nota of notas; let i = index;">
          <ion-col size="6">
           <h2> Notas</h2>
            <ion-input placeholder="Ingrese Nota" class="custom" [(ngModel)]="nota.nota">
              <ion-icon name="create-outline"></ion-icon>
            </ion-input>
          </ion-col>
          <ion-col size="6">
           <h2> Porcentaje % </h2>
            <ion-input placeholder="Ingrese porcentaje" class="custom" [(ngModel)]="nota.porcentaje">
              <ion-icon name="calculator-outline"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label>Nota Actual:</ion-label>
          <ion-label style="color: #E6413A;">{{sumas}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Te falta para pasar:</ion-label>
          <ion-label style="color: #E6413A;">{{pasar}}</ion-label>
        </ion-item>
      </ion-grid>
<div style="text-align: center;">
      <ion-button (click)="agregarNota()">Agregar Nota</ion-button>
      <br>
      <ion-button (click)="calcularNota()">Calcular Nota</ion-button>
    </div>
  </div>

  </ion-content>

