<ion-content [class]="isDarkMode ? 'dark' : ''">
  <ion-menu contentId="main-content">
    <ion-header [class]="isDarkMode ? 'dark' : ''">
      <ion-toolbar color="primary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-label>Fullname</ion-label>
        <ion-item routerLink="[/login]">
          <ion-icon name="person-circle" slot="start"></ion-icon>
          <ion-label>Configuración de la cuenta</ion-label>
        </ion-item>
        <ion-item routerLink="/login">
          <ion-icon name="share-social" slot="start"></ion-icon>
          <ion-label>Compartir</ion-label>
        </ion-item>
        <ion-item routerLink="/about">
          <ion-icon name="information-circle" slot="start"></ion-icon>
          <ion-label>Acerca de</ion-label>
        </ion-item>
        <ion-item routerLink="/contact">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>


  <ion-header id="main-content">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>SDNotes</ion-title>
      <ion-icon slot="end" name="moon-sharp"></ion-icon>
      <ion-toggle slot="end" [(ngModel)]="isDarkMode" (ionChange)="toggleDarkMode()"></ion-toggle>
    </ion-toolbar>
  </ion-header>


    <div style="background: #E6413A; height: 20%; margin: 5px; border-radius: 5px;">
      <ion-label style="margin: 6px; color: #fff;">Bienvenido</ion-label>
    </div>
    <div>
      <h2 style="text-align: center;color: #E6413A;">Calculo Rápido</h2>
      <ion-grid [fixed]="true">
        <ion-row *ngFor="let nota of notas; let i = index;">
          <ion-col size="6">
            Notas
            <ion-input placeholder="Ingrese Nota" class="custom" [(ngModel)]="nota.nota">
              <ion-icon name="create-outline"></ion-icon>
            </ion-input>
          </ion-col>
          <ion-col size="6">
            Porcentaje%
            <ion-input placeholder="Ingrese porcentaje" class="custom" [(ngModel)]="nota.porcentaje">
              <ion-icon name="calculator-outline"></ion-icon>
            </ion-input>
          </ion-col>
        </ion-row>
        <ion-item>
          <ion-label>Nota Actual:</ion-label>
          <ion-label>{{sumas}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Te falta para pasar:</ion-label>
          <ion-label>{{pasar}}</ion-label>
        </ion-item>
      </ion-grid>
<div style="text-align: center;">
      <ion-button (click)="agregarNota()">Agregar Nota</ion-button>
      <br>
      <ion-button (click)="calcularNota()">Calcular Nota</ion-button>
    </div>
  </div>

  </ion-content>

