// para dispositivos móviles
@media only screen and (max-width: 896px) {
    .my-content {
      margin-top: 20%; // ajuste según sea necesario
    }
  }
  
  // para tabletas
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .my-content {
      margin-top: 6%; // ajuste según sea necesario
    }
  }
  
  // para pantallas más grandes (PC)
  @media only screen and (min-width: 992px) {
    .my-content {
      margin-top: 6%; // ajuste según sea necesario
    }
  }
  

  @media (prefers-color-scheme: dark) {
    ion-button, ion-icon{
      --background:#E6413A;
      border-radius: 10px;
    }
  }